.container{
   margin-top:3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top:2rem;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.searchBar button{
    padding:0.7rem 1rem;
    background-color: rgb(52, 154, 52);
    color:white;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 140px;
    font-size: 1.2rem;
    
}
.searchBar input{
    font-size: 1.2rem;
    padding:0.7rem 1rem;
    background-color: white;
    width: 400px;
    /* border: none; */
}
.searchBar button:hover{
    filter:brightness(0.8);
}
.searchResult{
    margin-top:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    flex-wrap: wrap;
}
.searchResult div{
    border-radius: 8px;
    box-shadow:1px 1px 2px 2px gray ;
}